<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LEARNEX ACADEMY</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/boxicon.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
  </head>
  <body>
    <nav
      id="main_nav"
      class="navbar navbar-expand-lg navbar-light bg-white shadow"
    >
      <div class="container d-flex justify-content-between align-items-center">
        <span class="text-primary h4">LEARNEX</span>
        &nbsp;&nbsp;
        <span class="text-dark h4">ACADEMY</span>

        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-toggler-success"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
          id="navbar-toggler-success"
        >
          <div class="flex-fill mx-xl-5 mb-2">
            <ul
              class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark"
            >
              <li class="nav-item">
                <a
                  class="nav-link btn-outline-primary rounded-pill px-2"
                  href="/"
                  >Home</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link btn-outline-primary rounded-pill px-2"
                  href="{{url_for('stat')}}"
                  >Statistics</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn-outline-primary rounded-pill px-2"
                  href="{{url_for('company')}}"
                  >Companies</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn-outline-primary rounded-pill px-2"
                  href="{{url_for('price')}}"
                  >Pricing</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn-outline-primary rounded-pill px-2"
                  href="{{url_for('course')}}"
                  >Courses</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn-outline-primary rounded-pill px-2"
                  href="{{url_for('contact')}}"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% block main %} {% endblock %}
    <footer class="bg-secondary pt-4 py-4">
      <div class="container">
        <div class="row pt-2">
          <div class="col-lg-6 col-sm-12">
            <p class="text-lg-start text-center text-light light-300">
              Copyright © 2016. All Rights Reserved.
            </p>
          </div>
          <div class="col-lg-6 col-sm-12">
            <p class="text-lg-end text-center text-light light-300">
              Designed And Maintained by
              <a class="text-decoration-none text-light" target="_blank"
                ><strong>HCI PROJECT</strong></a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/isotope.pkgd.js')}}"></script>
  </body>
</html>
